
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Master.cshtml";
}

<h2>Home</h2>
<div class="row">
    <div class="col-lg-12" >
        <p>
            Bem vindo ao <b>Copa Mundivox</b>, aqui você cria suas copas, cadastra seus times e gerencia o andamento dos confrontos, simplesmente, arrastando o time vencedor para a próxima fase.
        </p>
        <p>
            Cadastre-se e tenha suas Copas gerenciadas de modo simples, além de tar armazenado de todo seu histórico de forma simples.
        </p>
    </div>
</div>

